@import "./colors.scss";
@import "./fonts.scss";

.section {
  width: 100%;
  height: 50px;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 10px 0;

  &__menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-decoration: none;
    justify-content: space-evenly;
    margin: 0;

    &-items {
      font-family: "PT Serif Caption", sans-serif;
      margin: 0 5px 0 5px;

      .item_href {
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: white;
        font-size: 16px;
        line-height: 1.5;
        transition: 0.5s;
      }

      .item_href:hover {
        transition: 0.5s;
        color: orange;
      }
    }

    &-telephone {
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      user-select: none;
      //cursor: pointer;
      transition: 0.5s;
    }
    &-telephone:hover {
      transition: 0.5s;
      color: orange;
    }

    &-email {
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      user-select: none;
      //cursor: pointer;
      transition: 0.5s;
    }
    &-email:hover {
      transition: 0.5s;
      color: orange;
    }
  }
}

.about_company {
  width: 100%;
  height: 100%;
  padding: 20px;
  color: blue;
  font-family: "PT Serif Caption", sans-serif;
  //text-transform: uppercase;
  font-size: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_company-text {
  padding: 10px 10px 50px 10px;
  width: 100%;
  height: 100%;
  font-family: "PT Serif Caption", sans-serif;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  background-color: #19197F;
  width: 100%;
  padding: 10px;

  &__column {
    display: flex;
    justify-content: center;
    //align-items: center;
    flex-direction: column;
    list-style: none;
    text-decoration: none;

    &-headline {
      list-style: none;
      text-decoration: none;
      margin: 10px 0 10px 0;

      .footer_headline {
        width: 100%;
        height: 100%;
        text-decoration: none;
        color: white;
        font-size: 20px;
        font-weight: bold;
        line-height: 1.5;
        transition: 0.5s;
      }
    }

    &-href {
      list-style: none;
      text-decoration: none;
      width: 100%;
      height: 100%;
      color: #c7b299;
      font-size: 18px;
      line-height: 1.5;
      transition: 0.5s;
      margin: 5px 0 5px 0;
      .footer_title {
        width: 100%;
        height: 100%;
        text-decoration: none;
        //color: #555555;
        color: #959595;
        font-size: 18px;
        line-height: 1.5;
        transition: 0.5s;
      }
      .footer_title:hover {
        color: #c7b299;
        transition: 0.5s;
      }
    }

    &-button {
        background-color: #363636;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        outline: none!important;
        border: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        color: #c7b299;
        margin: 10px 0 10px 0;
        transition: 0.5s;
        
        .button-icon {

        }
        .button-text {

        }
    }

    &-button:hover {
        outline: none;
        border: none;
        transition: 0.5s;
        color: white;
        background-color: #a48d72;
    }
  }
}

.license {
    background-color: #11113F;
    padding: 10px;
    color: #9595DD;
    font-size: 14px;
    display: flex;
    flex-direction: row;

    &__group {
        display: flex;
        flex-direction: row;
        width: 270px;
        &-icons {
            font-size: 26px;
            margin: 10px 10px 10px 5px;
            color: white;
            display: block;
            transition: 0.5s;
        }
    
        &-icons:hover {
            color: #007bff;
            transition: 0.5s;
        }
    }   
}

// modal
.modal-wrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(12, 74, 129, 0.6);
    z-index: 1000;
    top: 0;
    left: 0;
  
    .mmodal {
      background-color: white;
      position: relative;
      padding: 80px 60px 70px 60px;
      box-sizing: border-box;
      width: 40%;
  
      &__close {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
      }
  
      &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        font-family: "Open Sans", sans-serif;
        font-weight: normal;
  
        &-field {
          display: flex;
          flex-direction: column;
          width: 100%;
          margin-bottom: 40px;
  
          &-name {
            font-family: "PT Serif Caption", sans-serif;
            font-size: 18px;
            color: blue;
            margin-bottom: 18px;
          }
  
          &-inp {
            width: 100%;
            border: 1px solid grey;
            outline: none;
            padding-left: 20px;
            color: grey;
            height: 40px;
          }
        }
  
        &-submit {
          text-transform: uppercase;
          background-color: red;
          font-size: 12px;
          color: white;
          padding: 10px 25px;
          font-family: "Open Sans", sans-serif;
          font-weight: bold;
          border: none;
          outline: none;
          margin-top: 10px;
          cursor: pointer;
        }
      }
    }
  }
  //=====================================
