@font-face {
    font-family: "PT Serif Caption";
    src: url("./fonts/PTSerif-Caption.eot");
    src: url("PTSerif-Caption.eot?#iefix") format("embedded-opentype"),
      url("../fonts/PTSerif-Caption.woff") format("woff"), url("../fonts/PTSerif-Caption.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}